<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>helloTran</servlet-name>
        <servlet-class>hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoLink</servlet-name>
        <servlet-class>DemoLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>Controller.CreateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloTran</servlet-name>
        <url-pattern>/helloHai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoLink</servlet-name>
        <url-pattern>/demoLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/create-product</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
